.SideMenu {
  display: flex;
  flex-direction: column;
  flex: 0 0 50px;
  transition: 0.3s;
  height: 100%;
  background-color: #3a3a3a;

  span {
    display: none;
    white-space: nowrap;
  }

  &.opened {
    flex: 0 0 200px;

    span {
      display: initial;
    }
  }

  img {
    width: 40px;
    transition: 0.3s;
    cursor: pointer;
  }

  .sm-toggle-menu-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 5px;

    img:hover {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  .sm-dashboard-home-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 20px 15px;

    span {
      color: #0cba4e;
      margin-left: 20px;
      font-weight: 600;
    }

    .dhc-home-icon {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        background-color: #0cba4e;
        border-radius: 10px;
        width: 30px;
      }
    }
  }

  .sm-dashboard-menu-option {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    transition: 0.3s;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.5);
    }

    img {
      width: 25px;
    }

    span {
      margin-left: 15px;
      color: white;
      font-weight: 600;
    }
  }
}
