@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Open Sans', 'Courier New', Courier, monospace;

    &::-webkit-scrollbar-track {
        background-color: transparent;
      }
    
      &::-webkit-scrollbar {
        width: 5px;
        background-color: transparent;
      }
    
      &::-webkit-scrollbar-thumb {
        background-color: #0cba4e;
      }
}