.Sales {
  .card-controller {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 60px;
    padding-bottom: 30px;

    button {
      padding: 7px 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: unset;
      background-color: #0cba4e;
      font-weight: bold;
      color: white;
      border-radius: 12px;
      outline: unset;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        opacity: 0.8;
      }
    }
  }
  .SalesCard {
    padding: 50px 80px;

    .sc-header {
      display: flex;
      justify-content: flex-end;
      font-size: 12px;

      select {
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 0 10px;
        border-radius: 20px;
        outline: unset;
        background-color: white;
        margin-left: 10px;
      }

      span {
        margin-left: 20px;
      }
    }

    .sc-content {
      .scc-title {
        padding: 20px 0;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
      }
      .scc-grid {
        font-size: 14px;
        .col-1,
        .col-3,
        .col-4,
        .col-5 {
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 0 0 150px;
          border: 1px solid rgba(0, 0, 0, 0.2);
        }
        .col-2 {
          display: flex;
          padding-left: 15px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          flex: 1;
          border: 1px solid rgba(0, 0, 0, 0.2);
          .si-prod {
            display: flex;
            align-items: center;
            font-size: 13px;
            overflow: hidden;

            .sp-photo {
              min-width: 80px;

              img {
                width: 50px;
                height: 50px;
                margin-right: 30px;
                border-radius: 100%;
                background-color: black;
              }
            }

            .sp-info {
              text-overflow: ellipsis;
              a {
                text-decoration: none;
                &:hover {
                  text-decoration: underline;
                }
                color: #0cba4e;
                font-size: 12px;
              }
            }
          }
        }
        .sg-header {
          display: flex;

          > div {
            padding-bottom: 5px;
            padding-top: 5px;
          }
        }
        .sg-body {
          .sgb-item {
            display: flex;
            height: 100px;
          }
        }
      }
    }
  }
}
